<template>
  <form action method="post" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nombre">Nombre(s)</label>
        <input type="text" class="form-control" v-model="nombre" placeholder="Nombre(s)" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="apelledoM">Apellido Paterno</label>
        <input type="text" class="form-control" v-model="paterno" placeholder="Apellido Paterno" />
      </div>
      <div class="form-group col-md-6">
        <label for="apellidoM">Apellido Materno</label>
        <input type="text" class="form-control" v-model="materno" placeholder="Apellido Materno" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="genero">Genero</label>
        <select v-model="genero" class="form-control">
          <option value disabled selected>Selecciona una opción</option>
          <option v-for="genero in arrayGenero" :key="genero.id" :value="genero.id" v-text="genero.genero"></option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="edad">Edad</label>
        <input type="number" class="form-control" v-model="edad" placeholder="Edad" />
      </div>
      <div class="form-group col-md-4">
        <label for="civil">Estado civil</label>
        <select v-model="civil" class="form-control">
          <option value disabled selected>Selecciona una opción</option>
           <option v-for="civil in arrayCivil" :key="civil.id" :value="civil.id" v-text="civil.estado"></option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" v-model="email" placeholder="E-mail" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          v-model="password"
          placeholder="Ingresa tu contraseña"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nivel">Nivel de interes</label>
        <select v-model="nivel" class="form-control">
         <option value disabled selected>Selecciona una opción</option>
            <option v-for="nivel in arrayNivel" :key="nivel.id" :value="nivel.id" v-text="nivel.nivel"></option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nivel">Nivel de interes</label>
        <select v-model="nivelLic" class="form-control">
          <option selected>Elegir</option>
          <option>Preparatoria</option>
          <option>Licenciatura</option>
          <option>Posgrado</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nivel">Nivel de interes</label>
        <select v-model="nivelPos" class="form-control">
          <option selected>Elegir</option>
          <option>Preparatoria</option>
          <option>Licenciatura</option>
          <option>Posgrado</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" @click.prevent="registrarPersona()">Registrar</button>
  </form>
</template>

<script>
export default {
 
  data() {
    return {
      nombre: "",
      paterno: "",
      materno: "",
      genero: "",
      edad: "",
      civil: "",
      email: "",
      password: "",
      nivel: "",
      nivelLic: "",
      nivelPos: "",
      arrayGenero : [],
      arrayCivil : [],
      arrayNivel : []
    };
  },
  mounted(){
     // invocar los métodos
     this.selGenero();
     this.selCivil();
     this.selNivel()
    },
  methods: {
    registrarPersona: function() {
      let me = this;

      axios
        .post("/persona/registrar", {
          nombre: this.nombre,
          paterno: this.paterno,
          materno: this.materno,
          genero: this.genero,
          edad: this.edad,
          civil: this.civil,
          email: this.email,
          password: this.password,
          nivel: this.nivel,
          nivelLic: this.nivelLic,
          nivelPos: this.nivelPos
        })
        .then(function(response) {
          console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selGenero() {
      let me = this;
      var url = "/genero/genero";
      axios
        .get(url)
        .then(function(response) {
         var respuesta = response.data;
          me.arrayGenero = respuesta.generos;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    selCivil() {
      let me = this;
      var url = "/civil/civil";
      axios
        .get(url)
        .then(function(response) {
          var respuesta = response.data;
          me.arrayCivil = respuesta.estados;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selNivel() {
      let me = this;
      var url = "/nivel/nivel";
      axios
        .get(url)
        .then(function(response) {
          var respuesta = response.data;
          me.arrayNivel = respuesta.niveles;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
